* {
    margin: 0;
    padding: 0%;
}

nav {
    
} 

.top-bar {
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

li {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13.5px;
}

.sign-button {
    background-color: #4285F4;
    color: white;
    padding: 15px;
    border-radius: 5%;
}

.center {
    text-align: center;
}

.input-box input{
    height: 44px;
    width: 487px;
    position: relative;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.input-box i {
    position: absolute;
}

.search-buttons {
    padding-top: 18px;
    top: 53px;
}

.center button {
    background-color: #f8f9fa;
    height: 36px;
    font-size: 14px;
    padding: 0 16px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
}